body {
  padding: 0;
  text-align: center;
  background-image: url(../images/Acuarela-Ballerina.jpg);
  background-size: 1500px;
  background-size: cover;
}

h1 {
  color: #124783;
  font-size: 80px;
}

.game-logo {
  padding: 0px 50px;
  margin-top: 10px; 
}
.center-start {
margin-top: 50px;
}

.game-intro {
  display: flex;
   width: 100vw;
}
.space {
  font-size: 1.5em;
  color: #124783;
  font-weight: bold;
  
}
.space-key{
  width: 70px;
}

.game-container {
  display:flex;
  padding : 10px;
 
}
.score{
  margin-right: 10px;
  color: #124783;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/Ocean-and-Clouds-Free-Pixel-Art-Backgrounds7.png);
  background-size: cover;
  animation: slide 4s linear infinite;
 
  
}
@keyframes slide {
  0% {
    background-position: 0 0px;
  }

  100% {
    background-position: 390% 0px;
  }


  
}


.game-end {
  display: none;
}

body button {
  font-size: 40px;
  background-color: #98b9df;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 6px;
  margin-bottom: 20px;
  

}

.by {
  color: #124783;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
  padding: 0px;
}



